<%- include('partials/header') %>


<div class="main">
	<div class="main-container">
		<div class="title-div">
		    <span class="home-title">Epiphany</span>
	    	<p>cause whats better than sharing?</p>
		</div>
		<div class="loginreg">
	    	<a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
	    	<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>	
		</div>
	</div>
	

</div>

<%- include('partials/footer') %>
